node_modules
.DS_Store
dist
dist-ssr
*.local

generated
storybook-static

# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

**/public/config.json
**/public/buildInfo.json

*.code-workspace
/.idea

